body {
    margin: 0;
    background-color: #6e6e6e;
    color: white;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #3c3c3c;
    position: fixed;
}

#header a {
    text-decoration-line: none;
}

#side {
    width: 300px;
    padding: 90px 10px 10px 10px;
    position: fixed;
}

#side a {
    text-decoration-line: none;
}

#article {
    width: 100%;
    padding: 90px 10px 10px 10px;
    margin-left: 300px;
}