body {
    background-color: #6e6e6e;
    color: white;
}

#header {
    width: 100%;
    height: 80px;
    padding: 5px;
    vertical-align: middle;
}

#header a {
    text-decoration-line: none;
}

#main {
    width: 100%;
    padding: 20px;
}

#main div {
    float: left;
}

#side {
    width: 200px;
    padding: 10px;
}

#side a {
    text-decoration-line: none;
}