body {
    margin: 0;
    background-color: #6e6e6e;
    overflow-x: hidden;
}

a {
    text-decoration-line: none;
    color: white;
}

#header {
    width: 100%;
    height: 70px;
    padding-left: 10px;
    background-color: #3c3c3c;
    z-index: 1;
    position: fixed;
}

#side {
    width: 250px;
    padding: 90px 10px 10px 10px;
    position: fixed;
    background-color: #6e6e6e;
}

#article {
    width: 100%;
    padding: 90px 10px 10px 10px;
    margin-left: 300px;
    /*position: fixed;*/
    color: white;
}