<table>
    <tbody>
<!--        <tr><td><a>CSS</a></td></tr>-->
        <tr><td><p onclick="changeArticle('/article/docker/markdown/docker.md', '/article/docker/side.html')">Docker</a></td></tr>
        <tr><td><p onclick="changeArticle('/article/github/markdown/github.md', '/article/github/side.html')">Github</a></td></tr>
<!--        <tr><td><a>HTML</a></td></tr>-->
        <tr><td><p onclick="changeArticle('/article/java/markdown/java.md', '/article/java/side.html')">Java</a></td></tr>
<!--        <tr><td><a>Jsoup</a></td></tr>-->
        <tr><td><p onclick="changeArticle('/article/mysql/markdown/mysql.md', '/article/mysql/side.html')">Mysql</a></td></tr>
<!--        <tr><td><a>Nextjs</a></td></tr>-->
<!--        <tr><td><a>Reactjs</a></td></tr>-->
        <tr><td><p onclick="changeArticle('/article/spring/markdown/spring.md', '/article/spring/side.html')">Spring</a></td></tr>
<!--        <tr><td><a>Vercel</a></td></tr>-->
    </tbody>
</table>